<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Type your message:</h1>
  <form method="POST" action="/new">
    <label for="inputText">Text:</label>
    <input type="text" name="inputText">
    <br>
    <br>
    <label for="inputAuthor">Name:</label>
    <input type="text" name="inputAuthor">
    <br>
    <br>
    <button type="submit">Add to Board</button>
  </form>
  <br>
  <button type="button">
    <a href="/">&lt;- Go home</a>
  </button>
</body>
</html>